apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: nexus-python
  labels:
    app: redis
    component: cache
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
