---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: trilog-otel-collector
  namespace: trilog-system
  labels:
    app: trilog-otel-collector
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/component: collector
    app.kubernetes.io/part-of: trilog
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: trilog-otel-collector
  labels:
    app.kubernetes.io/name: trilog
    app.kubernetes.io/part-of: trilog
rules:
- apiGroups: [""]
  resources:
  - pods
  - namespaces
  - nodes
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources:
  - replicasets
  - deployments
  - daemonsets
  - statefulsets
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: trilog-otel-collector
  labels:
    app.kubernetes.io/name: trilog
    app.kubernetes.io/part-of: trilog
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: trilog-otel-collector
subjects:
- kind: ServiceAccount
  name: trilog-otel-collector
  namespace: trilog-system
